<main>
    <button class="mb-4 flex items-center gap-2" (click)="goBack()"> <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13 5H1m0 0 4 4M1 5l4-4" />
        </svg> Back</button>
    <header class="relative flex items-center justify-center">
        <img [src]="image?.urls?.regular" alt="image" class="h-[30rem] object-contain object-center w-[100%]"
            [style.viewTransitionName]="image?.id">

        <p [style.viewTransitionName]="'likes-'+image?.id" class="absolute text-4xl animate-pulse backdrop-blur-sm text-white">💓{{
            image?.likes }}</p>
    </header>
</main>